@charset 'UTF-8';
@use "./variable" as v;

html {
  font-size: 62.5%;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: v.$fontNoto;
  letter-spacing: 0.1em;
  color: #333;
}
.inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 4%;
}
